/* Write your code here. */

$screen-width: 600px;
$screen-height: 508px;
$padding: 26px;

.reading-screen {
  font-family: 'Didact Gothic', sans-serif;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  font-size: 26px;
  color: rgb(32, 89, 165);
  // background: red;
}

$button-size: 50px;

.button {
  pointer-events: all;
  width: auto;
  height: $button-size;
  z-index: 1;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  border-radius: $button-size;
  border: none;
  padding: 0 35px;
  background: #5cd09a;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: #49a57a;
  }
}
